<form action="/links" method="POST">
  <label for="title">TITLE</label>
  <input name="title" type="text" value="enter title" />
  <label for="url">URL</label>
  <input name="url" type="text" value="enter url"/>
  <label for="tags">TAG</label>
  <input name="tags" type="text" value="enter tag"/>
  <input class="button" type="submit" value="Add Link"/>
</form>
